* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'CAMAROON MEGALORD', sans-serif;
}

body {
    display: flex;
    background: #03071E;
    color: #FFBA08;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    /* font-size: 1.5rem; */
    background: #370617;
    border-radius: 1rem;
    padding: 20px;
    min-height: 45vh;
    width: 45vh;
}

form{
    margin: 1.5rem 0 1.5rem 0;
}

form select,button,input{
    width: 100%;
    border: none;
    outline: none;
    background: #6A040F;
    color: #E85D04;
    border-radius: 0.75rem;
}

form input{
    -webkit-text-fill-color: #F48C06;
     width: 100%;
    border: none;
    outline: none;
    background: #6A040F;
    color: #FFBA08 !important;
    border-radius: 0.75rem;
     border: 1px solid #E85D04 ;
     padding-left: 0.3rem ;
     height: 1.75rem; 
}

.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.dropdown i{
    font-size:1.5rem;
    margin-top: 1rem;
}

.select-container img{
    max-width: 2.5rem;
    
}
.select-container {
    display: flex;
    width: 6rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid #E85D04 ;
    background: #6A040F;
    cursor: pointer;
}

 
.select-container select{
    font-size: 1rem;
    width: auto;
}

.msg{
    text-align: center;
    margin: 1.5rem 0 1.5rem 0;
}

form button{
    height: 1.75rem; 
    cursor: pointer;
    width: 100%;
    font-size: 1rem;
    display: block;
}